# Node dependencies
node_modules/

# Production build
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/.env

backend/__pycache__/

venv
.venv/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/system files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Temporary or cache folders
.cache/

# Generated vector DB / Chroma indexes
backend/chroma_joined_index/
rag/chroma_joined_index/

prometheus-grafana/
backend/model_cache/ 
model_cache/